
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #161623;
      }
      h1 {
        text-align: center;
        color: white;
        margin-top: 2rem;
      }
      .container {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;
      }
      .container .card {
        position: relative;
        width: 600px;
        height: 700px;
        background: rgba(255, 255, 255, 0.482);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.445);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
      }
      .container .card .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .container .card .content .imgBx {
        position: relative;
        width: 350px;
        aspect-ratio: 1;
        overflow: hidden;
        border: 2px solid rgba(0, 0, 0, 0.25);
      }
      .container .card .content .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .container .card .content .contentBx h3 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        margin: 20px 0 10px;
        line-height: 1.1em;
      }
      .form {
        background: rgba(19, 35, 47, 0.9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
      }
      label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
      }
      label .req {
        margin: 2px;
        color: #1ab188;
      }
      label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
      }
      label.active .req {
        opacity: 0;
      }

      label.highlight {
        color: #ffffff;
      }

      input,
      textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #ffffff;
        border-radius: 0;
        transition: border-color 0.25s ease, box-shadow 0.25s ease;
      }
      input:focus,
      textarea:focus {
        outline: 0;
        border-color: #1ab188;
      }

      textarea {
        border: 2px solid #a0b3b0;
        resize: vertical;
      }

      .field-wrap {
        position: relative;
        margin-bottom: 40px;
      }
      .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background: #1ab188;
        color: #ffffff;
        transition: all 0.5s ease;
        -webkit-appearance: none;
      }
      .button:hover,
      .button:focus {
        background: #179b77;
      }

      .button-block {
        display: block;
        width: 100%;
      }
      @import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
      .rwd-table {
        margin: 1em 0;
        min-width: 300px;
      }
      .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      .rwd-table th {
        display: none;
      }
      .rwd-table td {
        display: block;
      }
      .rwd-table td:first-child {
        padding-top: 0.5em;
      }
      .rwd-table td:last-child {
        padding-bottom: 0.5em;
      }
      .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
      }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none;
        }
      }
      .rwd-table th,
      .rwd-table td {
        text-align: left;
      }
      @media (min-width: 480px) {
        .rwd-table th,
        .rwd-table td {
          display: table-cell;
          padding: 0.25em 0.5em;
        }
        .rwd-table th:first-child,
        .rwd-table td:first-child {
          padding-left: 0;
        }
        .rwd-table th:last-child,
        .rwd-table td:last-child {
          padding-right: 0;
        }
      }

      .card h1 {
        font-weight: normal;
        letter-spacing: -1px;
        color: #34495e;
      }

      .rwd-table {
        background: #34495e;
        color: #fff;
        border-radius: 0.4em;
        overflow: hidden;
      }
      .rwd-table tr {
        border-color: #46637f;
      }
      .rwd-table th,
      .rwd-table td {
        margin: 0.5em 1em;
      }
      @media (min-width: 480px) {
        .rwd-table th,
        .rwd-table td {
          padding: 1em !important;
        }
      }
      .rwd-table th,
      .rwd-table td:before {
        color: #dd5;
      }